@font-face {
    font-family: 'Heart fino';
    src: url(../assets/fontes/DK\ Cool\ Crayon.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heart';
    src: url(../assets/fontes/Heavy\ Trip\ -\ Demo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh; 
    background-image: url(../assets/img/fundoblue.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden; 
}

.nav {
    width: 100vw; 
    height: 15vh; 
    background-image: url(../assets/img/menublue.png); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box; 
    overflow: hidden; 
    z-index: 1;
}

#meio {
    background-image: url(../assets/img/meioblue.png);  
    background-position: center; 
    background-size: cover; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw; 
    height: 70vh;
    max-width: 700px; 
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

#meio h2 {
    font-family: 'Heart';
    margin-bottom: 20px;
}

#meio p {
    font-family: 'Heart fino';
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    color: #333;
}

.nav img.logo {
    height: 80%; 
    max-height: 100%; 
}

.nav-links a:hover {
    color: #ffffff; 
    text-decoration: underline; 
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    display: inline;
    margin-right: 100px; 
    margin-left: 150px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: 'Heart fino';
    font-size: 20px;
}

.logar {
    display: flex;
    align-items: center; 
}

.logar a:hover {
    color: #ffffff; 
    text-decoration: underline; 
}

.logar img {
    height: 55px;
    margin-right: 10px;
}

.entre {
    opacity: 65%;
}

.texto-div {
    display: flex;
    flex-direction: column;
}

.texto-div a {
    text-decoration: none;
    color: black;
    font-family: 'Heart fino';
    margin: 2px 0;
}

#banner {
    width: 70vw;
    height: 70vh;
    position: absolute;
    left: 250px; 
    top: 600px; 
    margin: auto;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 5px;
    background: #f8d8ff;
}

::-webkit-scrollbar-thumb {
    background: #F6C8B9;
}

#meio button {
    background-color: #F6C3D9;
    color: #000;
    border: none;
    width: 100px;
    height: 40px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#txtprincipal {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    font-family: 'Heart fino';
}

h3 {
    font-family: 'Heart fino';
}


